.serverless
*.pyc
*.pyo
/config/env_dev.json
/help/notes.md
/tests/data/sample_input_intent_slot.json
/tests/data/sample_input_with_nointent.json
/tests/data/sample_inut.json
/config/env_dev_ygpsquare.json
