{
    "AMAZON_VENDOR_ID": "DEXXXXXXXXXXXXXXX",
    "AMAZON_CLIENT_ID": "amzn1.application-oa2-client.ewewew22324343ml343r33535",
    "AMAZON_CLIENT_SECRET": "23232333333333333333333333333333333333333333333333333333333333",
    "ALEXA_SKILL_ID": "amzn1.ask.skill.sewewewe-2222-2345-34356-2323222321",
    "ALEXA_SKILL_ID_1": "amzn1.ask.skill.sewewewe-2222-2345-34356-2323222321",
    "CIS_SERVICE_URL": "arn:aws:iam::XXXXXXXXXXXXX:user/abc@entsys.com",
    "CIS_AWS_ACCESS_KEY_ID": "XXXXXXXXXXXXXXX",
    "CIS_AWS_SECRET_ACCESS_KEY":"v+XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "AWS_ACCOUNT": XXXXXXXXXXXX
}
